#button {


    background:#382CD0;
    font-weight : 400;
    padding : 0.4rem 1.4rem;
    border-radius: 30px;
    

}

#para {


color: white;

}

#hero {

background: linear-gradient(#0979C9,#0E0BDE,#382CD0);
color: white;
background-repeat: no-repeat;
background-size: contain;

}

#lastsec {

    background: linear-gradient(#0979C9,#0E0BDE,#382CD0);
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
 border-radius: 15px;


}

#card2 {

    background: linear-gradient(#0979C9,#0E0BDE,#382CD0);
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
 border-radius: 15px;
}

#card3 {
    background: linear-gradient(#0979C9,#0E0BDE,#382CD0);

    color: white;
    background-repeat: no-repeat;
    background-size: contain;
 border-radius: 15px;
}


#card1 {

    background: linear-gradient(#0979C9,#0E0BDE,#382CD0);
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
 border-radius: 15px;
}


#hd1 {

 color: white;



}

#btn2 {

background : #0E0BDE;





}

#btn3 {
    background : #fff;
}




#block {



background:#0E0BDE; 


}

#team {


background : #0979C9;



}




#tims {

margin-top: -90px;




}

#hd3 {

color: #0E0BDE;



}



#footer {

background:#0E0BDE;


}



#svg {

margin-top:-160px ;




}

